babel
dash
dash_ag_grid
dash-core-components
dash-extensions
dash-html-components
dash-iconify
dash-mantine-components==0.14.7
dash_bootstrap_components
dash_daq
Flask
fastexcel
numpy==1.26.4
openpyxl
packaging==21.3
polars==1.1.0
pre-commit
pyarrow
xlrd
xlsx2csv
pandas
SQLAlchemy
sqlalchemy-cockroachdb
psycopg2
python-dotenv