sqlalchemy
sqlalchemy-cockroachdb
Flask
docopt
psycopg2
passlib
babel
dash
dash_ag_grid
dash-core-components
dash-extensions
dash-html-components
dash-iconify
dash-mantine-components
dash_bootstrap_components
dash_daq
fastexcel
numpy==1.26.4
openpyxl
packaging==21.3
polars==1.1.0
pre-commit
pyarrow
xlrd
xlsx2csv
pandas
SQLAlchemy
python-dotenv
colorlog==6.8.0
pycountry==22.3.5